html { 
  background-color: #DFD9CA;
  margin: 0;
  font-family: calibri;  
  height: auto;
  width: auto;
  border: 3px solid #588A87;
}

body { 
  width: 700px;
  height: 1200px;
  max-width: auto;
}

h1, .description, hr, h2 { 
  text-align: center;
  margin: 20px auto;  
}

.description, h2 { 
  padding-bottom: 10px;
}

fieldset { 
  padding: 10 20 10 15;
  border: 2px solid #588A87;
  text-align: left;
  min-width: auto;
  max-width: auto;
  border-radius: 10px;
  box-shadow: .2rem .2rem 0 0 #588A87;
}

h3 { 
  text-align: center;
  margin: auto;
}

.top { 
  width: 100%;
  height: 28px;
  margin: 1px auto;
  padding-left: 7px;
  
}

select { 
  width: 150px;
  height: 28px;
  padding-left: 7px;
  text-align: center;
  margin-left: 40%; /*How to centralize the center of the box???*/
  margin-top: 5px;
  float: auto;

}

.thinking { 
 margin: auto 7;
 margin-left: 190px;
 margin-top: 10px;
}

img {
  float: right;
  width: 400px;
  max-width: 400px;
  padding: 5px;
}

.hr2 { 
  margin-bottom: 0px;
}

.checkbox { 
  font-size: 20px;
  margin: 12px;
  margin-top: 15px;
}

textarea { 
  width: 99%;
  height: 56px;
  margin: 10px 4px;
  padding-top: 5px;
  padding-left: 7px;
  text-align: left;
  border: 2px solid #588A87;
  border-radius: 10px;
  box-shadow: .2rem .2rem 0 0 #588A87;
}

button { 
   width: 50%;
   height: 25px;
   margin-left: 25%;
   margin-top: 20px;
   border-radius: 90px
}

footer { 
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
